@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .container {
    width: 95%;
  }

  .btn--general {
    transform: scale(0.85);
  }

  /* HEADER SECTION */
  .header .grid {
    width: 85%;
    margin: 9.6rem auto 0;
    text-align: center;

    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .heading-primary {
    font-size: 2.8rem;
  }

  .text-header {
    margin-bottom: 6.4rem;
  }

  .huddle-logo-header {
    width: 50%;
  }

  .bg-hero {
    height: 96rem;
  }

  /* MAIN SECTION */
  .main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 6.4rem;

    height: 100%;
    padding: 3.2rem;
    text-align: center;
  }

  .text-main {
    width: 85%;
  }

  .img-main {
    height: 22rem;
    grid-row: 1;
  }

  /* CTA SECTION */
  .paragraph-cta {
    text-align: center;
    font-size: 2rem;
  }

  /* FOOTER SECTION */
  .footer .grid {
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 1.6rem;
  }

  .footer .container {
    padding-top: 14rem;
  }

  .huddle-logo-footer {
    height: 50%;
  }

  .information {
    margin-top: 1.6rem;
  }

  .logos {
    justify-self: center;
  }

  .copyright {
    margin-top: 2.4rem;
    justify-content: center;
  }
}
